<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a style="color: white;">Hi! Welcome</a>
      <a href="/"><img src="../assets/images/bookmark.svg"> List Movie</a>
      <a href="/addmovie"><img src="../assets/images/add.svg"> Add Movie</a>
    </div>
    
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
  
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    
    <nav class="navbar navbar-dark" style="background-color: #2C2C2C;">  
      <div class="container-fluid">
        <span style="font-size:30px;cursor:pointer;color:#ffffff" onclick="openNav()">&#9776;</span>
        <div class="navbar-brand navbar-brand-centered mb-0 mx-auto"><h3><b>Moovieku</b></h3></div>
      </div>
    </nav>
  
    <div class="px-4 bg-dark">
      <div class="container-fluid pt-4">
        <div class="row">
          <% if(movie != null) { %>
            
            <%  
       var data = JSON.parse( movie);
       var i;
       for (i = 0; i < data.length; i++) {   %>
          
         <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="card mb-4" >
            <img class="card-img img-thumbnail mx-auto mt-3" alt="..." style="height: 350px; width: 260px;" src=<%- data[i].foto %>>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                <div class="d-flex">
                  <img src="../assets/images/star.svg"> &nbsp
                  <p class="card-title my-2"><%- data[i].rating %></p>
                </div>
                <b>
                  <p class="card-title"><%- data[i].judul %></p>
                </b>
                  <p class="card-text"><%- data[i].rilis %></p>
                </div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.5 8.125C7.84518 8.125 8.125 7.84518 8.125 7.5C8.125 7.15482 7.84518 6.875 7.5 6.875C7.15482 6.875 6.875 7.15482 6.875 7.5C6.875 7.84518 7.15482 8.125 7.5 8.125Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7.5 3.75C7.84518 3.75 8.125 3.47018 8.125 3.125C8.125 2.77982 7.84518 2.5 7.5 2.5C7.15482 2.5 6.875 2.77982 6.875 3.125C6.875 3.47018 7.15482 3.75 7.5 3.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7.5 12.5C7.84518 12.5 8.125 12.2202 8.125 11.875C8.125 11.5298 7.84518 11.25 7.5 11.25C7.15482 11.25 6.875 11.5298 6.875 11.875C6.875 12.2202 7.15482 12.5 7.5 12.5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="min-width:0px;">
                    <li><a class="dropdown-item" href=/editmovie/<%- data[i].id_movie %>><img src="../assets/images/edit.svg"></a></li>
                    <li><a class="dropdown-item" href=/deleteMovie/<%- data[i].id_movie %>><img src="../assets/images/delete.svg"></a></li>
                  </ul>
                </div>
              </div>
              <div class="w-100 text-center">
                <a href="/detail/<%- data[i].id_movie %>" class="btn btn-primary">Deskripsi</a>
              </div>
            </div>
          </div>
        </div>
    
       <% } %>
       <% } %>
          
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
</body>
</html> 
